// Place all the styles related to the Chats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/


.active-chat{
  background-color: grey;
  color: white;
}

.dot{
  font-size: 20px;
  color: grey;
}

.active{
  color: green;
}
